@{
	Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактор</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/img/application/favicon.png">
</head>

<body>
    <header class="second-header">
        <div class="container">
            <!-- Header nav -->
            <div class="header-nav">
                <div class="logo">
                    <a class="logo-link" href="~/Home/Index">
                        <img src="/img/application/favicon.png" alt="Family Gym">
                        <span>FAMILY GYM</span>
                    </a>
                </div>

                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Schedule?id=null">Расписание занятий</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/AboutClub">О клубе</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Services?AgeCategory=16">Фитнес</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Services?AgeCategory=0">Фитнес для детей</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/ClubCards">Клубные карты</a>
                        </li>
                    </ul>
                </nav>

                <div class="login">
                    <a class="login-link nav-link" href="~/Account/PersonalAccount">
                        <img src="/img/application/account.png">
                        <span>Аккаунт</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="section">
        <div class="container">
            <div class="title-1">
                <h2>Редактор клубных карт</h2>
            </div>

            <div class="subsection">
                <div class="title-2">
                    <h3>Просмотр/добавление/удаление/редактирование клубной карты</h3>
                </div>

                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="id">Идентификатор клубной карты: </label>
                        <input name="Id" id="id" type="number" placeholder="Поле заполняется автоматически"
                            readonly value="@(ViewBag.ClubCard == null ? null : ViewBag.ClubCard.Id)"/>
                    </div>
                    <div class="form-group">
                        <label for="title">Название: </label>
                        <input name="Title" id="title" type="text" placeholder="Введите название клубной карты"
                            required value="@(ViewBag.ClubCard == null ? null : ViewBag.ClubCard.Title)"/>
                    </div>
                    <div class="form-group">
                        <label for="price">Цена: </label>
                        <input name="Price" id="price" type="number" placeholder="Введите цену в рублях"
                            min="0" max="1000000" required value="@(ViewBag.ClubCard == null ? null : ViewBag.ClubCard.Price)"/>
                    </div>
                    <div class="form-group">
                        <label for="duration">Срок действия: </label>
                        <input name="Duration" id="duration" type="number" placeholder="Введите срок действия карты в месяцах"
                            min="1" max="1000000" required value="@(ViewBag.ClubCard == null ? null : ViewBag.ClubCard.Duration)"/>
                    </div>
                    <div class="form-group">
                        <label for="time-limit">Ограничения по времени: </label>
                        <input name="TimeLimit" id="time-limit" type="text" placeholder="Опишите ограничения по времени посещения клуба"
                            required value="@(ViewBag.ClubCard == null ? null : ViewBag.ClubCard.TimeLimit)"/>
                    </div>
                    <div class="form-group">
                        <label for="status">Статус: </label>
                        <input name="Status" id="status" type="text" list="status-list" placeholder="Выберите статус клубной карты"
                            pattern="активная|архивная" title="Выберите один из вариантов: активная или архивная"
                            autocomplete="off" required value="@(ViewBag.ClubCard == null ? null : ViewBag.ClubCard.Status)"/>
                        <datalist id="status-list">
                            <option value="активная"></option>
                            <option value="архивная"></option>
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="photo">Загрузите обложку карты:</label>
                        <input name="UploadImage" class="file-input" id="photo" type="file" accept="image/png, image/jpeg, image/jpg"
                            title="Доступные расширения файлов: .jpeg, .jpg, .png" required
                            onchange="validateFileType()">
                    </div>
                    <div class="form-group">
                        <label for="description">Описание: </label>
                        <textarea name="Description" class="textarea" id="description" placeholder="Введите описание клубной карты"
                            required >@(ViewBag.ClubCard == null ? null : ViewBag.ClubCard.Description)</textarea>
                    </div>

                    <div class="flex-controls">
                        <input  class="button" type="reset">
                        <a class="button delete-button" href="/Admin/ClubCardEditor_Delete?id=@(ViewBag.ClubCard == null ? null : ViewBag.ClubCard.Id)">Удалить</a>
                        <input formmethod="post" class="button" type="submit" value="Сохранить">
                    </div>
                </form>
            </div>

            <div class="subsection">
                <div class="title-2" id="list">
                    <h3>Просмотр списка клубных карт</h3>
                </div>

                <form method="get">
                    <div class="form-group">
                        <label for="title">Поиск карты по названию:</label>
                        <input name="Search_title" id="title" type="search" placeholder="Введите название клубной карты" required />
                    </div>
                </form>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Срок действия</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var clubCard in ViewBag.ClubCards)
                        {
                            <tr>
                                <td>@(clubCard.Id)</td>
                                <td>@(clubCard.Title)</td>
                                <td>@(clubCard.Price)₽</td>
                                <td>@(clubCard.Duration)</td>
                                <td>@(clubCard.Status)</td>
                                <td>
                                    <a class="button table-button" href="~/Admin/ClubCardEditor?id=@(clubCard.Id)">Изменить</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="flex-controls">
                    <a class="button" href="~/Admin/ClubCardEditor?page=@(ViewBag.Page - 1)#list">⮈ Предыдущая страница</a>
                    <a class="button" href="~/Admin/ClubCardEditor?page=@(ViewBag.Page + 1)#list">Следующая страница ⮊</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
</body>

</html>